<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <p>API 사이트에 오신것을 환영합니다.
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>사용자 ID</label>

          <input type="userid" name="text" class="form-control" ng-model="user.userid" required>
        </div>

        <div class="form-group">
          <label>비밀번호</label>

          <input type="password" name="passwd" class="form-control" ng-model="user.passwd" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.userid.$error.required && form.passwd.$error.required && submitted">
             사용자ID 와 비밀번호를 입력해 주세요.
          </p>
          <p class="help-block" ng-show="form.userid.$error.userid && submitted">
             Please enter a valid userId.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div class="pull-right">
          <button class="btn btn-inverse btn-lg btn-login" type="submit">로그인</button>
          <a class="btn btn-default btn-lg btn-register" href="/signup">회원가입</a>
        </div>
<!--
        <hr>
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
        </div>
-->
      </form>
    </div>
  </div>
</div>
