<hr class="divider">
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-2">
        <img src="/assets/images/footer_logo.gif">
      </div>
      <div class="col-sm-8">
        <p class="text-muted footer-text">
          (주)아이하트 서울시 금천구 벚꽃로 286 리더스타워 707,708호<br>
          대표전화 1644-2105 팩스 02-2026-6288 사업자등록번호 220-81-91026<br>
          통신판매업신고번호 제2005-1257호 대표이사 김형철
        </p>

      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
</footer>
