<div class="container">
  <div class="btn btn-primary" ng-click="create()">생성</div>

  <div>총 개수: {{samples.count}}</div>
  <div ng-if="samples.err">{{samples.err}}</div>
  <table class="table">
    <tr ng-repeat="row in samples.rows">
      <td>{{row.key}}</td>
      <td>{{row.value}}</td>
      <td>
        <p data-placement="top" data-toggle="tooltip" title="Edit">
        <button class="btn btn-primary btn-xs" data-title="Edit" ng-click="update(row)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button></p>
      </td>
      <td><a ng-click="destroy(row)" class="trash"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  </table>
</div>
